<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Menu</title>
	</head>
	<body>
	<h1>Le nostre pizze</h1>
	<div>
	<a class="btn btn-primary" th:href="@{/create}"><i class="fas fa-plus"></i> Inserisci Pizza</a>
	</div>
	
	
	<table class="table" th:if="${list.size > 0}">
        <thead>
            <tr>
                <th>Nome Pizza</th>
                <th>Descrizione</th>
                <th>Prezzo</th>              

            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${list}">
                    <td th:text="${item.nome}"></td>
                    <td th:text="${item.descrizione}"></td>
                    <td th:text="${item.prezzo} +'€'"></td>
					<td>
						<a class="btn btn-primary" th:href="@{|/edit/${item.id}|}"><i class="fas fa-edit"></i></a>
						<a class="btn btn-primary" th:href="@{|/delete/${item.id}|}"
							onclick="return confirm('Sei sicuro di volerlo eliminare?')"><i class="fas fa-trash"></i></a>
					</td>
            </tr>        
            </tbody>
	</table>
	<div class="alert alert-danger" role="alert" th:unless="${list.size>0}">
  La lista delle pizze è vuota
</div>
	
	
	
	
	
	
	
	<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>